<header>
  <p-menubar [model]="items" styleClass="col-12 md:col-10 md:col-offset-1">
    <ng-template pTemplate="start">
      <img
        class="mr-3"
        src="../../../assets/images/logo.png"
        height="50"
        width="50"
      />
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a pRipple class="flex align-items-center p-menuitem-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center">
        <p-button [text]="true" (click)="navigateToCart()"
          ><i
            class="pi pi-shopping-cart text-3xl text-white-alpha-90"
            pBadge
            [value]="cartCount"
            severity="info"
          ></i
        ></p-button>

        <p-button
          *ngIf="!isLoggedIn; else loggedInView"
          (onClick)="showLoginDialog()"
          icon="pi pi-user"
          label="Login"
        ></p-button>

        <ng-template #loggedInView>
          <!-- <div class="flex align-items-center"> -->
          <p-avatar icon="pi pi-user" styleClass="mr-2"></p-avatar>
          <span>{{ userRole }}</span>
          <p-button
            (onClick)="logout()"
            label="Logout"
            severity="secondary"
            class="ml-2"
          ></p-button>
          <!-- </div> -->
        </ng-template>
      </div>
    </ng-template>
  </p-menubar>
</header>
