header {
    background-color: #252526;
    padding: 20px  10px;
}

:host::ng-deep {
    .p-menubar {
        padding: 0.5rem;
        background: #252526;
        color: #4b5563;
        border: none;
        border-radius: 6px;
    }
    .align-items-center {
        color: #f29f05 !important;
    }
}
