:host::ng-deep {
  .p-paginator {
    margin-top: 0.5rem;
  }

  .p-dataview .p-dataview-content {
    border-radius: 0.5rem;
  }

  .grid-nogutter {
    background: #d9d9d9;
  }

  .p-button {
    background: #3e507a;
    border: 1px solid #3e507a;
  }

  .p-button:hover {
    border: 1px solid #687aa6;
    background: #687aa6;
  }
}
