<div class="card border-round">
  <p-table
    class="border-round"
    [value]="cartItems"
    [tableStyle]="{ 'min-width': '50rem' }"
    [styleClass]="'p-datatable-tfoot'"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h1>Twój koszyk</h1>
        <div class="flex align-items-center">
          <p class="mr-2">Wyczyść koszyk</p>
          <p-button (onClick)="clearCart()" icon="pi pi-eraser" class="mr-2" />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Zdjęcie</th>
        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Cena (szt.)</th>
        <th class="text-center" style="width: 5rem">Ilość</th>
        <th class="text-right">Suma</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-image
            [src]="'../../../assets/images/image.png'"
            alt="Image"
            width="100"
            class="shadow-4"
            [preview]="true"
          />
        </td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.category }}</td>
        <td>{{ item.product.price | currency : "PLN" : "symbol-narrow" }}</td>
        <td>
          <div class="flex align-items-center">
            <p-button
              (onClick)="increaseQuantity(item.product)"
              class="max-h-3rem"
              type="button"
              pButton
              pRipple
              icon="pi pi-plus"
            ></p-button>
            <p class="ml-3 mr-3">{{ item.quantity }}</p>
            <p-button
              (onClick)="decreaseQuantity(item.product.id)"
              type="button"
              class="max-h-3rem"
              pButton
              pRipple
              icon="pi pi-minus"
            ></p-button>
          </div>
        </td>
        <td class="text-right">
          {{
            item.product.price * item.quantity
              | currency : "PLN" : "symbol-narrow"
          }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        <p-button label="Zamawiamy!" (onClick)="openOrderForm()"></p-button>

        <h3>
          Ogólna suma: {{ totalSum | currency : "PLN" : "symbol-narrow" }}
        </h3>
      </div>
    </ng-template>
  </p-table>
</div>
